body{
    font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("2.jpg");  
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;   */
  /* min-height: 100vh;  
  margin: 0;    */
  background-attachment: fixed;
      background-image: url("2.jpg");  
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat; 
  /* background: radial-gradient(rgb(167, 174, 182),rgb(25, 185, 220)); */

}
 
body::before{background: rgb(57, 55, 107);
   background:    linear-gradient(180deg, rgb(144 197 209) 0%, rgb(201 27 187 / 31%) 35%); content: "";width: 100%;height: 100%; left: 0px; top: 0px;bottom:0px; position: absolute;}

 

   .container{
    display: flex;
    min-height: 50vh;
    /* background-position: fixed; */
    /* background-image: url("./images.jpg"); 
    background-position: center;  
    background-repeat: no-repeat;  */
    position: relative;
    /* background-color: aqua; */
   
}
  

.innerContainer{
    margin: 5% auto;
    /* display: none; */
    background: linear-gradient(rgb(112, 120, 113),rgb(51, 190, 215));
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0px 1px 32px 6px rgba(43, 48, 48, 0.5);
    -webkit-box-shadow: 0px 1px 32px 6px rgba(35, 40, 39, 0.5);
    -moz-box-shadow: 0px 1px 32px 6px rgba(25, 168, 156, 0.5);
    position: absolute; z-index: 1000;
    left: 22%;
}
h1{
    margin: 40px auto;
    color: black;
text-shadow: 2px 4px 2px rgba(41,199,202,0.94);
}
input{
    box-shadow: 0px -1px 19px 7px rgba(255,255,255,0.26);
-webkit-box-shadow: 0px -1px 19px 7px rgba(255,255,255,0.26);
-moz-box-shadow: 0px -1px 19px 7px rgba(255,255,255,0.26);
    width: 75%;
    border: none;
    border: 1px solid lavender;
    font-size: 20px;
     border-radius: 20px;
     padding: 10px 30px;
}

.list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.saveBtn{
    padding: 10px 10px;
    margin-left: 20px;
    width: 15%;
    border: none;
    justify-content: right;
    border-radius: 20px;
    font-size: 20px;
    background-color: green;
    color: white;
}

ul{
    list-style: none;
}

li{
   width: 100%;
   margin-bottom: 3%;
   display: flex;
   color: white;
   justify-content: space-between;
   align-items: center;
   font-size: 22px;
}

.delete{
    padding: 10px 10px;
    width: 16%;
    border: none;
    margin-left: 65%;
    
    /* justify-content: right; */
    border-radius: 20px;
    font-size: 20px;
    background-color: red;
    color: white;
}
  